.taskCountainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 34.375rem;
  padding: 0.35rem 0.625rem;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 0.35rem;
  border: 0.1px solid black;
  box-shadow: 0 0.185rem 0.35rem rgba(0, 0, 0, 0.1);
}

.taskCountainer:nth-child(odd) {
  background-color: rgba(223, 180, 255, 0.208);
}

.taskItem {
  display: flex;
  align-items: center;
}

.taskInformation {
  .taskTitle {
    font-weight: 600;
  }
  .taskDescription {
    font-size: 0.75rem;
    list-style-type: "\1F87A";
    margin-left: 0.35rem;
  }
}

.iconTaskWrapper {
  display: flex;
  align-items: center;
}

.iconTask {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  margin: 0 0 0 0.35rem;
}
.iconTask:hover {
  color: red;
  transition: 0.3s;
}

.checkbox {
  cursor: pointer;
  margin: 0 0.35rem 0 0;
}

.checkTask {
  text-decoration: line-through;
}
