.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(248, 239, 255);
  width: 34.375rem;
  min-height: 15.625rem;
  padding: 0.625rem 1rem;
  border-radius: 0.35rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.185rem 0.35rem rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.overlay.animated {
  opacity: 0;
  visibility: hidden;

  .modal {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -70%);
    transition-delay: 0.2s;
  }

  &.show {
    opacity: 1;
    visibility: visible;

    .modal {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%);
    }
  }
}

.iconTaskModal {
  width: 1rem;
  margin-left: 31.875rem;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.iconTaskModal:hover {
  color: red;
  transition: 0.3s;
}

.titleInputWrapper {
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  .titleTask {
    display: flex;
    justify-content: center;
  }
  .titleInput {
    width: 28.45rem;
    height: 1.875rem;
    outline: none;
    border-radius: 0.35rem;
    border: none;
    font-size: 1rem;
  }
}

.descTextWrapper {
  margin-bottom: 0.625rem;
  font-size: 0.875rem;

  .titleDesc {
    display: flex;
    justify-content: center;
  }
  .descTextarea {
    width: 28.45rem;
    min-height: 9.375rem;
    outline: none;
    border-radius: 0.35rem;
    border: none;
    resize: none;
  }
}

.dateInput {
  background-color: rgb(222, 180, 255);
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(93, 20, 148);
  height: 1.875rem;
  width: 5.3rem;
  margin-bottom: 0.625rem;
  border: none;
  border-radius: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

.dateInput::-webkit-calendar-picker-indicator:hover {
  background-color: rgba(130, 23, 211, 0.438);
  transition: 0.2s;
}

.buttonModal {
  background-color: rgb(222, 180, 255);
  font-size: 0.75rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
  color: rgb(93, 20, 148);
  height: 1.875rem;
  width: 120px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.buttonModal:hover {
  background-color: rgba(130, 23, 211, 0.438);
  transition: 0.2s;
}
