.addСontainer {
  background-color: rgb(128, 27, 206);
  width: 34.375rem;
  padding: 0.625rem;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 0.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.185rem 0.35rem rgba(0, 0, 0, 0.1);
}

.inputTask {
  width: 20rem;
  font-size: 0.75rem;
  padding: 0.185rem 0.35rem;
  height: 1.875rem;
}

.inputTask:focus {
  outline: none;
}

.addTask {
  background-color: rgb(222, 180, 255);
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(93, 20, 148);
  height: 1.812rem;
  width: 7.5rem;
  border-radius: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addTask:hover {
  background-color: rgb(237, 217, 252);
  transition: 0.2s;
}

.inputDate {
  background-color: rgb(222, 180, 255);
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(93, 20, 148);
  height: 1.812rem;
  width: 5.3rem;
  border: none;
  border-radius: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  padding: 1.55rem 0;
}

::-webkit-calendar-picker-indicator:hover {
  background-color: rgb(237, 217, 252);
  transition: 0.2s;
}
